*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

ul,ol,li, a {
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color:#fafafa;
}

.main {
  display: flex;
  margin: 6rem auto 6rem auto;
  align-items:flex-start;
  justify-content:center;
}

.info {
  margin-top: 2rem;
}

.form-info-a, .form-info-b{
  background-color: white;
  text-align: center;
  padding: 30px 80px;
  border: 1px solid rgb(224, 219, 219);
}

.form-info-a {
  margin-bottom: .5rem;
}

.insta-logo {
  width: 170px;
  margin-bottom: 1rem;
}

.form-info-a [alt="instagram profile photo"] {
  border-radius: 50%;
  margin-bottom: 1.8rem;
  width: 85px;
}

.b-app, .form-img, footer{
  text-align: center;
}

.phone img {
  max-width: 295px;
  min-width: 295px;
  margin-right: 1.5rem;
  margin-top: .8rem;
}

.insta-logo {
  width: 170px;
}

.form-img img {
  width: 135px;
}

.footer-links a {
  font-size: .75rem;
  color: grey;
}
.footer-lang{
  font-size: .65rem;
  color: gray;
}

.footer-lang select {
  color: grey;
  border: none;
  background-color: #fafafa;
  font-size: .75rem;
}

.footer-lang select option {
  color: black;
}

.footer-cpr {
  font-size: .70rem;
  color: gray;
}

.footer-lang-cp{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  
  .main{
    margin-top: 1.2rem;
    margin-bottom: 3rem;
  }

  .phone {
    display: none;
  }

  .form-img img  {
    margin-top: .1rem;
  }
}